.island {
  box-sizing: border-box;
  width: 7.81875rem;
  height: 2.1375rem;
  border-radius: 1.875rem;
  background-color: black;
  box-shadow: 0 0 0 0 black;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  padding-bottom: 0.16875rem;
  font-weight: 900;
}

.island > .island_left {
  border-radius: 1.875rem 0rem 0rem 1.875rem;
}
.island > .island_right {
  border-radius: 0rem 1.875rem 1.875rem 0rem;
}

.island:hover {
  background-color: white;
  box-shadow: 0 0 0 0.3125rem black;
  transform: scale(1.1);
}

.island:hover > div {
  flex: 1;
  height: 1.96875rem;
  margin-top: 0.1125rem;
  cursor: pointer;
}

.text {
  user-select: none;
}
.text:hover {
  font-size: 1.2375rem;
  cursor: pointer;
}
