.diaryDivOther {
  height: 43.875rem;
  width: 34.59375rem;
  display: flex;
  z-index: 999;
}

.other_left {
  display: flex;
  flex-direction: column;
  height: 43.875rem;
  box-sizing: border-box;
  width: 6.75rem;
  font-weight: 800;
}

.diaryDivOther .other_bold_up {
  height: 0rem;
}

.other_left > div {
  height: 1.63125rem;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  text-align: center;
  border-bottom: 0.05625rem dashed gray;
}

.other_left > .other_left_up {
  height: 0rem;
}

.other_bold {
  border-bottom: 0.1125rem solid black !important;
}

.other_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43.875rem;
  position: absolute;
  box-sizing: border-box;
  margin-left: 6.75rem;
  width: 27.9rem;
}

.other_right > div {
  height: 1.63125rem;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  border-bottom: 0.05625rem dashed gray;
}

.diaryDivOther > .other_lines_cross {
  position: absolute;
  height: 42.1875rem;
  width: 0%;
  border-left: 0.05625rem dashed gray;
  margin-top: 1.63125rem;
  margin-left: 6.75rem;
}

.other_right .nextTextArea {
  position: absolute;
  top: 1.4625rem;
  width: calc(100% - 1.125rem);
  height: 42.1825rem;
  left: 0.5625rem;
  background-color: rgba(255, 255, 255, 0);
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
  font-size: 0.84375rem;
  line-height: 1.855em;
  font-weight: 500;
}
