.checkElement {
  box-sizing: border-box;
  /* border: 0.0625rem solid red; */
  height: 2.994rem;
  width: 2.45rem;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid blue; */
}

.checkElement_exercise {
  /* height: 4.55rem; */
  height: 6.11rem;
}

.checkElement_sleep {
  /* height: 4.55rem; */
  height: 4.545rem;
  /* outline: 1px solid red; */
}

.checkElement_date {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 2.45rem;
  font-size: 0.75rem;
  height: 1.459rem;
  font-weight: 700;
  font-weight: 900;
  padding-bottom: 0.01rem;
  /* outline: 1px solid red; */
}

.checkElement_content_time {
  font-size: 10px;
}

.checkElement_content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.035rem;
  /* padding-top: 0.5rem; */
  width: 2.45rem;
  text-align: center;
  height: 1.535rem;
  font-size: 0.8rem;
  /* outline: 1px solid red; */
}

.checkElement_content_false {
  color: red;
}
.checkElement_content_true {
  color: blue;
  font-weight: 800;
}

.checkElement_content_diet {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkElement_content_diet:hover {
  overflow: visible;
  width: fit-content;
  background-color: wheat;
}

.checkElement_diary_true:hover {
  cursor: pointer;
  transform: scale(1.3);
  border-radius: 5px;
  outline: 1px solid black;
}

.leftSecond {
  font-weight: 450;
}

.leftThird {
  font-weight: 450;
}

.leftFourth {
  font-weight: 450;
}
