.checkLines {
  height: 43.875rem;
  width: 34.59375rem;
  display: flex;
  z-index: 999;
  /* border: 1px solid red; */
}

.checkLines_left {
  display: flex;
  flex-direction: column;
  height: 43.875rem;
  box-sizing: border-box;
  width: 6.75rem;
  font-weight: 800;
}

.checkLines .checkLines_bold_up {
  height: 0rem;
}

.checkLines_left > div {
  height: 1.63125rem;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  text-align: center;
  border-bottom: 0.05625rem dashed gray;
}

.checkLines_bold {
  border-bottom: 0.1125rem solid black !important;
}

.checkLines_right {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43.875rem;
  position: absolute;
  box-sizing: border-box;
  margin-left: 6.75rem;
  width: 27.9rem;
  /* border: 0.0625rem solid rebeccapurple; */
}

.checkLines_right > div {
  height: 1.6425rem;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  border-bottom: 0.05625rem dashed gray;
}

.checkLines > .checkLines_cross {
  position: absolute;
  height: 42.1875rem;
  width: 0%;
  border-left: 0.05625rem dashed gray;
  margin-top: 1.63125rem;
  margin-left: 6.75rem;
}

.checkLines_rightContent {
  /* outline: 1px solid red; */
  flex-wrap: wrap;
  display: flex;
  align-content: baseline;
  /* align-items: ; */
  box-sizing: border-box;
  position: absolute;
  height: 40.7rem;
  width: 27.84375rem;
  margin-top: 1.575rem;
  margin-left: 6.75rem;
  padding-top: 0.1rem;
  padding-left: 0.84375rem;
  padding-right: 0.5625rem;
  column-gap: 0.16875rem;
  row-gap: 0.139rem;
}
