.loginFalse > input {
  border: none;
  border-bottom: 0.16875rem solid;
  background-color: transparent;
  width: 99%;
  font-size: 0.84375rem;
  margin-bottom: 0.5625rem;
}

.loginFalse > input:focus {
  outline: none;
}

.loginFalse > .buttonBox {
  display: flex;
  justify-content: space-between;
}

.loginTrue > .today {
  width: 99%;
  font-size: 1.125rem;
  font-weight: 900;
}

.loginTrue > hr {
  border: 0.1125rem solid black;
}

.loginTrue > .buttonBox {
  display: flex;
  justify-content: space-between;
}

.loginFalse > p {
  font-size: 0.9rem;
  font-weight: 800;
}
