.baseNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.baseNote_arrange {
  display: flex;
}

.baseNote_arrange_btn {
  height: 910px;
  width: 90px;
  /* border: 1px solid red; */
  background-color: rgba(211, 211, 211, 0);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseNote_arrange_btn:hover {
  background-color: rgba(211, 211, 211, 0.3);
}

.baseNote_arrange_btn_left {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  z-index: 500;
  left: -45px;
}

.baseNote_arrange_btn_right {
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  right: -45px;
}

.btn_box {
  width: 40px;
  height: 130px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(211, 211, 211, 0.4),
    rgba(255, 255, 255, 0.4)
  );
}

.note {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 665px;
  height: 910px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* 위 오 아래 왼 */
  padding: 25px 15px 20px 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px lightgray;
  position: relative;
}

.note_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note_header_left {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 900;
  text-align: right;
  align-self: flex-end;
}

.note_header_right {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  width: 151px;
  margin-bottom: 5px;
}

.note_header_line {
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.note_footer {
  font-size: 13px;
  font-weight: 900;
  text-align: end;
}
