.baseNote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
}

.baseNote_arrange {
  display: flex;
}

.baseNote_arrange_btn {
  height: 910px;
  width: 900px;
}

.note {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  width: 665px;
  height: 910px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* 위 오 아래 왼 */
  padding: 25px 15px 20px 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px lightgray;
  position: relative;
}

.note_header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.note_header_left {
  padding-left: 30px;
  font-size: 25px;
  font-weight: 900;
  text-align: right;
  align-self: flex-end;
}

.note_header_right {
  font-size: 15px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  width: 151px;
  margin-bottom: 5px;
}

.note_header_line {
  margin-top: 5px;
  border-bottom: 1px solid black;
}

.note_footer {
  font-size: 13px;
  font-weight: 900;
  text-align: end;
}
