.diaryDivOther {
  height: 780px;
  width: 615px;
  display: flex;
  z-index: 999;
}

.other_left {
  display: flex;
  flex-direction: column;
  height: 780px;
  box-sizing: border-box;
  width: 120px;
  font-weight: 800;
}

.diaryDivOther .other_bold_up {
  height: 0px;
}

.other_left > div {
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 1px dashed gray;
}

.other_left > .other_left_up {
  height: 0px;
}

.other_bold {
  border-bottom: 2px solid black !important;
}

.other_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 780px;
  position: absolute;
  box-sizing: border-box;
  margin-left: 120px;
  width: 496px;
}

.other_right > div {
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px dashed gray;
}

.diaryDivOther > .other_lines_cross {
  position: absolute;
  height: 750px;
  width: 0%;
  border-left: 1px dashed gray;
  margin-top: 29px;
  margin-left: 120px;
}

.other_right .nextTextArea {
  position: absolute;
  top: 26px;
  width: calc(100% - 20px);
  height: 750px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0);
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
  font-size: 15px;
  line-height: 1.86em;
  font-weight: 500;
}
