.diaryDiv {
  height: 780px;
  width: 615px;
  display: flex;
  z-index: 999;
}

.note_left {
  display: flex;
  flex-direction: column;
  height: 780px;
  box-sizing: border-box;
  width: 120px;
  font-weight: 800;
}

.diaryDiv .note_bold_up {
  height: 0px;
}

.note_left > div {
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 1px dashed gray;
}

.note_left > .note_left_up {
  height: 0px;
}

.note_bold {
  border-bottom: 2px solid black !important;
}

/*  */
.note_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 780px;
  position: absolute;
  box-sizing: border-box;
  margin-left: 120px;
  width: 496px;
}

.note_right > div {
  height: 29px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px dashed gray;
}

.right_one > * {
  width: 150px;
  /* border: 1px solid rebeccapurple; */
  text-align: center;
}

.right_two > * {
  width: 150px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.right_one {
  display: flex;
  justify-content: space-evenly;
  font-weight: 800;
}
.right_two {
  display: flex;
  justify-content: space-evenly;
}

.time {
  display: flex;
  /* padding-top: 2px; */
}

.time > input {
  border: none;
  border-bottom: 1px solid black;
  /* background-color: red; */
  height: 18px;
  width: 20px;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 2px;
}

.time > input:focus {
  border-bottom: 1px solid black;
  outline: none;
}

.diaryDiv > .note_lines_cross {
  position: absolute;
  height: 750px;
  width: 0%;
  border-left: 1px dashed gray;
  margin-top: 29px;
  margin-left: 120px;
}

.note_right textarea {
  position: absolute;
  width: calc(100% - 20px);
  height: 665px;
  top: 109px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0);
  resize: none;
  outline: none;
  overflow: hidden;
  border: none;
  font-size: 15px;
  line-height: 1.86em;
  font-weight: 500;
}
