.element {
  box-sizing: box;
  /* border: 0.0625rem solid red; */
  height: 3.125rem;
  width: 2.45rem;
  display: flex;
  flex-direction: column;
  /* outline: auto; */
}

.date {
  text-align: center;
  width: 2.45rem;
  font-size: 1rem;
}

.check {
  padding-top: 0.05rem;
  width: 2.45rem;
  text-align: center;
}
